:root{
    --light-grey: #d3d3d3;
    --light-blue: #3299ff;

}

body{
    margin: 0;
}

.button{
    display: inline-block;
    padding: 1rem;
    transition: .4s;
}

.button--primary{
    background: var(--light-blue);
    color: #fff;
}

@media (any-hover: hover) {
    .button--primary:hover{
        opacity: .8;
    }

    .github-search__input:hover{
        border-color: #939393;
    }

    .github-search__icon:hover{
        opacity: .6;
    }
}


.container{
    max-width: 1200px;
    margin: auto;
}

.error-message{
    text-align: center;
}

.list{
    padding: 0;
    margin: 0;
    list-style: none;
}

.hilight{
    padding: .3rem 1rem;
    margin-right: 1rem;
    background: #a8a8a8;
    color: #fff;
    border-radius: 5px;
    white-space: nowrap;
}

.horizontal-list{
    display: flex;
}
.section{
    padding: 1rem
}

.main-header{
    background: var(--light-blue);
    color: #fff;
}

.main-header__title{
    margin: 0;
}

.github-search__wrapper,
.user__wrapper,
.github-search__input{
    border: 1px solid var(--light-grey);
}

.github-search__wrapper{
    box-sizing: border-box;
    padding: 1rem; 
}

.github-search__title{
    font-size: 1.7rem;
    margin-bottom: 1rem;
    margin-top: .5rem;
}

.github-search__directions{
    font-weight: normal;
    font-size: 1.3rem;
    margin-bottom: 1.4rem;
}

.github-search__input-wrapper{
    position: relative;
    width: 95%;
}

.github-search__input{
    width: 100%;
    font-size: 1rem;
    padding: .5rem;
    outline: none;
    border-radius: 5px;
    margin-bottom: 1rem;
    transition: .3s;
}

.github-search__icon{
    position: absolute;
    right: 0;
    top: 8px;
    padding: .2rem;
    cursor: pointer;
    transition: .3s;
}

.github-search__input:focus{
    border-color: var(--light-blue);
}

.user{
    display: none;
}

.user__wrapper{
    --display: flex;
}

.user__wrapper{
    display: var(--display);
    padding: 2rem 1rem;
}

.user__image{
    display: inline-block;
    width: 100%;
    margin-bottom: 1rem;
}

.user__profile{
    flex: 1;
    margin-right: 2rem;
}

.user__view-profile{
    width: 100%;
    box-sizing: border-box;
    text-decoration: none;
    text-align: center;
    border-radius: 10px;
}

.user__hilights{
    --flex: 4;
}

@media(max-width: 1000px){
    .user__hilights{
        --flex: 2;
    }
}

.user__hilights{
    flex: var(--flex);
}

.user__stats{
    margin-bottom: 1rem;
}


.user__information > *{
    border-bottom: 1px solid var(--light-grey);
    padding: .5rem 1rem;;
    margin-bottom: .5rem;
    width: 92%;
}


/* REPOSITORIES */

.repositories {
    display: none;
}

.repository__information{
    --display: flex;
}

.repository__information{
    display: var(--display);
    justify-content: space-between;
    padding: 1rem 0;
    margin-bottom: 1rem;
    border-bottom: 1px solid var(--light-grey);
    flex: 1;
}

.repository__link{
    margin-top: .35rem;
    display:inline-block;
}



